<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="about.css">
</head>

<body>
    {{>nav}}
    <div class="container-fluid">
<div class="row">
        <div class="col col-md-6">
            <div class="left">

           <p><h1 >weather app</h1> 
           this is a website where you can get all dtails about temprature weather condition by simpliy filling city name </p> 
            </div>

        </div>
        <div class="col-md-6">
            <img src=" img/3366845.jpg" style="height: 80vh; width:40vw"  alt="">
        </div>
        <div class="col"></div>
    </div>
    </div>
    
    {{>footer}}
    {{!-- {{!-- {{>carosel}}
    {{>footer}} --}}
</body>

</html>