<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>nav}}
    <div class="row">
        <div class="col-md-7">
            <img src="css/img/6242692.jpg" style="height:80vh"  alt="">
        </div>
        <div class="col-md-5 right_error">
            <h1>
                404
            </h1>
            <p>Sorry,Page you looking for is not found </p>
        </div>
    </div>
    {{>footer}}
    
</body>
</html>