  <div class="row">
    <div class="col-md-10 col-sm-12 mx-auto">
      <div class="fluid-container">
        <div class="row">
          <div class="col-12 col-sm-6 mx-auto">
            <h1  class="typed-out"  style="line-height: 3rem;">Welcome to WeatherApp</h1>

            <h1 style="font-family: 'Anton', sans-serif;">Get Weather details of your city</h1>
            <button type="button" class="  n btn btn-secondary btn-lg btn-block" onclick="window.location.href='/weather';"> <i class="fa-solid fa-cloud "
                style="color: #f09433;"></i> Weather details </button>

          </div>
          <div class="col-12 col-sm-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <!-- <div class="carousel-item active">
                                  <img class="d-block w-100" src="css/img/FreeVector-Weather-Illustrations.jpg" alt="First slide">
                                </div> -->
                <div class="carousel-item active ">
                  <img class="  w-100" style="height: 80vh;"
                    src="img/13290.jpg" alt="Second slide">
                </div>
                <div class="carousel-item ">
                  <img class="  w-100 " style="height: 80vh;" src=" img/20944951.jpg" alt="Third slide">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>