<div class="foot">
    <div class="row">
      <div class="col-md-12">
        <footer class="footer col-md-10 mx-auto">
          <div class="social_media instagram">
            <a href="https://www.instagram.com/this_is_surya_tiwari/"
                target="_self"><i
              style=" background: #f09433; 
          background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
          background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
          background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );"
              class="fa-brands fa-instagram fa-2x"></i></a> <i style="color:#0A66C2;" class="fa-brands fa-linkedin fa-2x"></i>
            </i><i style="color: #171515;" class="fa-brands fa-github fa-2x"></i><i style="color:  #00acee;"
              class="fa-brands fa-twitter fa-2x"></i></div>
          <h1> <i class="fa-sharp fa-solid fa-snowflake"></i> Weather <i class="fa-sharp fa-solid fa-snowflake"></i>
          </h1>
          copyright © 2023 IND

        </footer>
      </div>
    </div>
  </div>